<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<link rel="stylesheet" href="~/css/estilosEntradas.css"/>
<link rel="stylesheet" href="~/wwwroot/css/jquery.nice-number.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="~/wwwroot/js/jquery.nice-number.js"></script>

<script type="text/javascript">
	$(function(){
            
        $('input[type="number"]').niceNumber();
	});
</script>


</head>

<body>
<div class="box">
	<h2> Precios </h2>

 	Adultos <input type="number" value="0" /><br /><br />
 	Niños <input type="number" value="0" /><br /><br />
 	Adultos <input type="number" value="0" /><br /><br />
 	Adultos <input type="number" value="0" /><br /><br />
 	Adultos <input type="number" value="0" /><br /><br />
 	Adultos <input type="number" value="0" /><br /><br />
  	Adultos<input type="number" value="0" /><br /><br />

    <button>Elegir Butacas</button>

</div>
</body>
</html>
