@{
    ViewData["Title"] = "Eliga sus entradas";
}

<link rel="stylesheet" href="~/css/estilosEntradas.css" />

<h3 class="tit">Reserva tus entradas</h3>

    <div class="row">
        <div class="col-md-4 col-centered thumbnail xd">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="~/images/PELI-9.jpg" width="150" class="x" />
                </div>
                <div class="col-md-6 x">
                    <span class="SubHeader">FUNCIÓN</span><br/><span class="sub1">5:00 PM</span> <br/>
                    <span class="SubHeader">CINEKONG</span><br/><span class="sub1">Santa Anita</span> <br/>
                    <span class="SubHeader">PELÍCULA </span><br/><span class="sub1">Venom</span> <br/>
                    <span class="SubHeader">FECHA</span><br/><span class="sub1">Martes 30 de Octubre</span> <br/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center">Tipo</td>
            <th class="text-center">Cantidad</td>
            <th class="text-center">Costo</td>
            <th class="text-center">Subtotal</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Niños</td>
            <td>
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                
                0
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </td>
            <td>S/.12.00</td>
            <td>S/.0.00</td>
        </tr>
        <tr>
            <td>3ra Edad</td>
            <td>
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                
                0
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </td>
            <td>S/.12.00</td>
            <td>S/.0.00</td>
        </tr>
        <tr>
            <td>Adulto</td>
            <td>
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                
                0
                <button class="btn-xs btn-danger">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </td>
            <td>S/.12.00</td>
            <td>S/.0.00</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button class="btn btn-danger">
                    Siguiente
                      <span class="glyphicon glyphicon-chevron-right"></span>     
                </button>
    </div>