<link rel="stylesheet" href="~/css/stylePelicula.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="subtitulos subT">PELICULAS</h3>
            <div class="row">
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-21.jpg" class="img-responsive imagen" >
                    <div>
                        <h5>ANIMALES EN APUROS</h5>
                        <h5>13/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-2.jpg" class="img-responsive imagen" >
                     <h5>RALPH EL DEMOLEDOR</h5>
                        <h5>13/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-3.jpg" class="img-responsive imagen" >
                     <h5>CADA DIA</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-4.jpg" class="img-responsive imagen" >
                     <h5>AVENGERS</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-5.jpg" class="img-responsive imagen" >
                    <div>
                        <h5>MEGALODON</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-6.jpg" class="img-responsive imagen" >
                     <h5>HARRY POTTER 7</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-7.jpg" class="img-responsive imagen" >
                     <h5>HARRY POTTER 7</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-8.jpg" class="img-responsive imagen" >
                     <h5>JOHNNY ENGLISH</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-9.jpg" class="img-responsive imagen" >
                    <div>
                        <h5>VENOM</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-10.jpg" class="img-responsive imagen" >
                     <h5>ANA Y BRUNO</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-11.jpg" class="img-responsive imagen" >
                     <h5>ESCALOFRIOS 2</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-12.jpg" class="img-responsive imagen" >
                     <h5>HERENCIA</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                        
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-13.jpg" class="img-responsive imagen" >
                    <div>
                        <h5>HALLOWEEN</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-14.jpg" class="img-responsive imagen" >
                     <h5>NO ES LO QUE PARECE</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-15.jpg" class="img-responsive imagen" >
                     <h5>UN NUEVO CAMINO</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-16.jpg" class="img-responsive imagen" >
                     <h5>ENEMIGO INMORTAL</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                        
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-17.jpg" class="img-responsive imagen" >
                    <div>
                        <h5>LA CASA DE LOS RELOJES EN LA PARED</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-18.jpg" class="img-responsive imagen" >
                     <h5>LA GRAN FUGA</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-19.jpg" class="img-responsive imagen" >
                     <h5>NACE UNA ESTRELLA</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                </div>
                <div class="col-md-3 col-xs-3 bottomPel">
                    <img src="~/images/PELI-20.jpg" class="img-responsive imagen" >
                     <h5>DEPREDADOR</h5>
                        <h5>10/12/18</h5>
                        <div class="align">
                            <a asp-controller="Home" asp-action="CantidadEntradas"><img class="info" src="~/images/ticket.png" /></a>
                            <a href="#"><img class="info" src="~/images/play.png" /></a>
                        </div>
                        
                </div>

         </div>

    </div>
          <div class="col-md-4 ">
                    <h3 class="subtitulos subT"><a style="text-decoration: none;color:white" asp-controller="Home" asp-action="Noticias">
                                    NOTICIAS</a></h3>
                        <div class="row ">
                                <div class="col-md-12 row">
                                    <div>
                                        <div class="col-md-3">
                                            <img src="~/images/news7.jpg"  class="img-responsive" />
                                        </div>
                                        <div class="col-md-9">
                                            <h4>
                                                Clueless remake 'in the works'
                                            </h4>
                                            <span>October 14 2018</span>
                                            <p>
                                            A 'Clueless' remake is said to be in the works, with
                                            'Girls Trip' writer Tracy Oliver set to produce the motion picture.

                                            </p>
                                        </div>
                                    </div>

                                    
                                </div>
                                
                                <div class="col-md-12 row divNews">
                                    <div>
                                        <div class="col-md-3">
                                            <img src="~/images/news5.jpg"  class="img-responsive" />
                                        </div>
                                        <div class="col-md-9">
                                            <h4>
                                                Claudia Kim says backlash over Fantastic Beasts casting was 'unexpected'
                                            </h4>
                                            <span>October 26 2018</span>
                                            <p>
                                            According to Claudia Kim, the backlash over her casting in 
                                            'Fantastic Beasts: The Crimes of Grindelwald' was "unexpected".
                                            </p>
                                        </div>
                                    </div>   
                                </div>

                                <div class="col-md-12 row divNews">
                                    <div>
                                        <div class="col-md-3">
                                            <img src="~/images/news6.jpg"  class="img-responsive" />
                                        </div>
                                        <div class="col-md-9">
                                            <h4>
                                                Johnny Depp 'axed from Pirates of the Caribbean reboot'
                                            </h4>
                                            <span>October 26 2018</span>
                                            <p>
                                            Hollywood star Johnny Depp has reportedly been axed from the
                                            'Pirates of the Caribbean' franchise.
                                            </p>
                                        </div>
                                    </div>   
                                </div>

                                <div class="col-md-12 row divNews">
                                    <div>
                                        <div class="col-md-3">
                                            <img src="~/images/news8.jpg"  class="img-responsive" />
                                        </div>
                                        <div class="col-md-9">
                                            <h4>
                                                Liam Neeson 'cried' at Normal People script
                                            </h4>
                                            <span>October 26 2018</span>
                                            <p>
                                            Award-winning actor Liam Neeson "cried" when he first read
                                            the script for 'Normal People' and instantly "knew it was special".
                                            </p>
                                        </div>
                                    </div>   
                                </div>
                        
                    </div>      
</div>
</div>