@{
    ViewData["Title"] = "Películas";
}

<link rel="stylesheet" href="~/css/estilosEntradas.css" />

<h3 class="tit">Bohemian Rhapsody</h3>
<div class="row container-fluid">
    <div class="col-md-6 col-sm-6 col-xs-12 col-centered thumbnail xd">
        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-12 text-center">
                <img src="~/images/PELI-9.jpg" class="ppp" width="170" />
            </div>
            <div class="col-md-8 col-sm-4 col-xs-12 text-xs-center ppp">
                <span class="SubHeader">SINOPSIS</span><br /><span class="sub1">Biografia del cantante Freddie Mercury, que narra su etapa en Queen, la mítica banda británica que el cantante lideró junto a Brian May, Roger Taylor y John Deacon.</span> <br />
                <span class="SubHeader">DIRECTOR </span><br /><span class="sub1">Bryan Singer</span> <br />
                <span class="SubHeader">ACTORES</span><br /><span class="sub1">Rami Malek, Aidan Gille</span> <br />
            </div>
        </div>
    </div>
</div>
<br>
<br>
