<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Coffee</title>

 		<!-- tipo de letra -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
	

			<link rel="stylesheet" href="~/css/bootstrap.css">
		<!-- estilos para poner el video en el medio -->
			<link rel="stylesheet" href="~/css/magnific-popup.css">				
		<!-- estilos para el video-->
			<link rel="stylesheet" href="~/css/main.css">
		</head>
		<body>


			<!-- Start video-sec Area -->
			<section class="video-sec-area pb-100 pt-40" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<div class="overlay overlay-bg"></div>
							<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="~/images/play-icon.png" alt=""></a>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Live Coffee making process.</h6>
							<h1>We Telecast our <br>
							Coffee Making Live</h1>
							<p><span>We are here to listen from you deliver exellence</span></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
							</p>
							<img class="img-fluid" src="~/images/signature.png" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->
			
			
			
			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">What kind of Coffee we serve for you</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<a href="~/images/g1.jpg" class="img-pop-home">
								<img class="img-fluid" src="~/images/g1.jpg" alt="">
							</a>	
							<a href="~/images/g2.jpg" class="img-pop-home">
								<img class="img-fluid" src="~/images/g2.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-8">
							<a href="~/images/g3.jpg" class="img-pop-home">
								<img class="img-fluid" src="~/images/g3.jpg" alt="">
							</a>	
							<div class="row">
								<div class="col-lg-6">
									<a href="~/images/g4.jpg" class="img-pop-home">
										<img class="img-fluid" src="~/images/g4.jpg" alt="">
									</a>	
								</div>
								<div class="col-lg-6">
									<a href="~/images/g5.jpg" class="img-pop-home">
										<img class="img-fluid" src="~/images/g5.jpg" alt="">
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End gallery Area -->
			
			<!-- js para que aparezca el video -->
			<script src="~/js/jquery-2.2.4.min.js"></script>		
					
			
			<!-- js para video y imagenes -->
			<script src="~/js/jquery.magnific-popup.min.js"></script>						
			
			<script src="~/js/main.js"></script>	
		</body>
	</html>



