body {
    background-color: #272727;
    color: white;
}

.x{
    padding-top: 10px;
}

.thumbnail.xd {
    background-color: #222222;
    border-color:black;
}

.black{
    color: black;
}

.container-fluid.xd {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
}

.tit{
    text-align: center;    
    margin-top: 40px;
    margin-bottom: 30px;
}

.SubHeader {
    width: 30%;
    font-weight: bold;
    font-size: 1em;
    float: left;
}

.sub1{
    color: #8d9d9d;
    width: inherit;
    display: inline-block;
}

.col-centered{
    float: none;
    margin: 0 auto;
}