body {
    background-color: #272727;
    color: white;
}
.subT{
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.ww {
    color: white;
}

hr {
    border-top: 1px solid #222222;
}

p {
    color: white;
}

body {
    background-color: #272727;
}
