
body {
    background-color: #272727;
}
.tit{
    text-align: center;    
    margin-top: 40px;
}
.ww {
    color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.fila {
    padding-right: 20px;
}

hr {
    border-top: 1px solid #222222;
}

th, td {
    padding: 4px;
    padding-bottom:10px;

}

#tabla {
    margin: auto;
}

.container-fluid.xd {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
}

.centered.w {
        color: white;
    
}

tr {
    height: 30px;
}

p {
    color: white;
}

